<!DOCTYPE html>

<title>Demande</title>

{% block body %}
    <h1>Demande</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ demande.id }}</td>
            </tr>
            <tr>
                <th>NumDemande</th>
                <td>{{ demande.numDemande }}</td>
            </tr>
            <tr>
                <th>TypeDemande</th>
                <td>{{ demande.typeDemande }}</td>
            </tr>
            <tr>
                <th>DateDemande</th>
                <td>{{ demande.dateDemande }}</td>
            </tr>
            <tr>
                <th>IdCitoyen</th>
                <td>{{ demande.idCitoyen }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ demande.etat }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_demande_index') }}">back to list</a>

    <a href="{{ path('app_demande_edit', {'id': demande.id}) }}">edit</a>

    {{ include('demande/_delete_form.html.twig') }}
{% endblock %}
