{% extends 'base.html.twig' %}

{% block title %}Citoyen{% endblock %}

{% block body %}
<main id="main" class="main">

    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
    <h1>Citoyen</h1>

    <table class="table">

        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ citoyen.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ citoyen.prenom }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ citoyen.email }}</td>
            </tr>
            <tr>
                <th>Cin</th>
                <td>{{ citoyen.cin }}</td>
            </tr>
            <tr>
                <th>NumTel</th>
                <td>{{ citoyen.numTel }}</td>
            </tr>
        </tbody>
    </table>
    <a href="{{ path('app_gestio_citoyen_index') }}">back to list</a>

    <a href="{{ path('app_gestio_citoyen_edit', {'id': citoyen.id}) }}">edit</a>


    {{ include('gestio_citoyen/_delete_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>


{% endblock %}
