{% extends 'baseadmin.html.twig' %}



{% block body %}
    <h1>Publication index</h1>

<div class="row" style="display: flex;align-items: center;justify-content: center;margin-top: 150px;padding-left: 250px">

    <div class="col-lg-12">

        <div class="card">
            <div class="card-body">
                {% for message in app.flashes('info') %}
                    <center> <div class="alert alert-success">
                        {{ message }}
                    </div></center>
                {%endfor %}
               <center> <h5 class="card-title">Liste Des Publications</h5> </center>

                <!-- Table with stripped rows -->
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Status</th>
                        <th>Photo</th>
                        <th>ConfirmPublication</th>
                        <th>actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for publication in publications %}
                        <tr>
                            <td>{{ publication.id }}</td>
                            <td>{{ publication.status }}</td>
                            <td><img src="{{ asset('uploads/' ~ publication.photo ) }}" alt="" style="width: 80px;height: 100px"></td>
                            <td>{{ publication.confirmPublication ? 'Yes' : 'No' }}</td>
                            <td>
                                <a class="btn btn-warning" href="{{ path('app_ajout_pub_show', {'id': publication.id}) }}">show</a>

                            </td>
                            <td>
                                <a class="btn btn-success" href="{{ path('app_ajout_pub_edit', {'id': publication.id}) }}">edit</a>
                            </td>
                            <td>
                                <a class="btn btn-primary" href="{{ path('app_ajout_pub_new') }}">Ajouter</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="6">no records found</td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
                <!-- End small tables -->

            </div>

        </div>

    </div>



</div>
{% endblock %}
