{% extends 'admin/base.html.twig' %}

{% block title %}New service{% endblock %}

{% block body %}



    <main id="main" class="main">

        <section class="section">
            <div class="row">
                <div class="col-lg-6">

                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Ajout D'Un service</h5>

                            <!-- Vertical Form -->
                            {{ form_start(form,{'attr':{'novalidate': 'novalidate'}}) }}

                            <label for="inputNanme4" class="form-label">Nom Service :</label>
                            {{ form_widget(form.nomservice,{'attr':{'class':'form-control'}}) }}
                            <span style="color:red">{{ form_errors(form.nomservice) }}</span>

                            <br/>
                            <div class="text-center">
                                {{ form_widget(form.add,{'attr':{'class':'btn btn-primary'}})}}
                                <button type="reset" class="btn btn-secondary">Annuler</button>
                            </div>
                            {{ form_end(form) }}<!-- Vertical Form -->


                        </div>
                    </div>
                </div>

            </div>
        </section>
    </main>
    <a href="{{ path('app_service_index') }}">back to list</a>
{% endblock %}