{% extends 'base.html.twig' %}

{% block title %}Equipe index{% endblock %}

{% block body %}
    <h1>Equipe index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdEquipe</th>
                <th>NumEquipe</th>
                <th>ServiceNom</th>
                <th>NbreEmp</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for equipe in equipes %}
            <tr>
                <td>{{ equipe.idEquipe }}</td>
                <td>{{ equipe.numEquipe }}</td>
                <td>{{ equipe.serviceNom }}</td>
                <td>{{ equipe.nbreEmp }}</td>
                <td>
                    <a href="{{ path('app_equipe_show', {'idEquipe': equipe.idEquipe}) }}">show</a>
                    <a href="{{ path('app_equipe_edit', {'idEquipe': equipe.idEquipe}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_equipe_new') }}">Create new</a>
{% endblock %}
